<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170901196685-lludvo7hj19vprdl742vo61492bhv19s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170901196685-lludvo7hj19vprdl742vo61492bhv19s</string>
	<key>API_KEY</key>
	<string>AIzaSyD3-l6N34AhfFB8_fA670K5O_UuNse2usY</string>
	<key>GCM_SENDER_ID</key>
	<string>170901196685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.stryker</string>
	<key>PROJECT_ID</key>
	<string>stryker-e328a</string>
	<key>STORAGE_BUCKET</key>
	<string>stryker-e328a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170901196685:ios:d5bdd8072b5be8d257b7c4</string>
</dict>
</plist>